:root {
	/* Custom variables set from https://github.com/withastro/starlight/blob/main/packages/starlight/style/props.css */

	/* Key layout values */
	--sl-sidebar-width: 20rem;
	--sl-content-width: 52rem;

	/* Text size and line height */
	--sl-text-2xl: 1.25rem; /* 20px */
	--sl-text-3xl: 1.5rem; /* 24px */
	--sl-text-4xl: 1.8125rem; /* 29px */
}

@media (min-width: 72rem) {
	.sl-container:has(.hero) {
		--sl-content-width: 75%;
	}
}

/* Styles for the custom sidebar tab switcher. */
.sidebar-pane {
	/* Layout variables */
	--tab-switcher-border-width: 1px;
	--tab-switcher-padding: calc(0.25rem - var(--tab-switcher-border-width));
	--tab-item-border-radius: 0.5rem;
	--tab-switcher-border-radius: calc(
		var(--tab-item-border-radius) + var(--tab-switcher-padding) + var(--tab-switcher-border-width)
	);
	/* Color variables */
	--tab-switcher-border-color: var(--sl-color-hairline-light);
	--tab-switcher-background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
	--tab-switcher-text-color: var(--sl-color-gray-3);
	--tab-switcher-text-color--active: var(--sl-color-white);
	--tab-switcher-icon-color: var(--sl-color-gray-4);
	--tab-switcher-icon-color--active: var(--sl-color-text-accent);
	--tab-item-background-color--hover: var(--sl-color-gray-6);
	--tab-item-background-color--active: var(--sl-color-black);
}
/* Dark theme variations */
[data-theme='dark'] .sidebar-pane {
	--tab-switcher-text-color: var(--sl-color-gray-2);
	--tab-switcher-icon-color: var(--sl-color-gray-3);
	--tab-item-background-color--hover: var(--sl-color-gray-5);
}
/* Dark theme variations with the desktop sidebar visible */
@media (min-width: 50rem) {
	[data-theme='dark'] .sidebar-pane {
		--tab-switcher-background-color: var(--sl-color-black);
		--tab-item-background-color--hover: var(--sl-color-gray-6);
		--tab-item-background-color--active: var(--sl-color-gray-6);
	}
}
